/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* _________________^^  R E S E T ^^_________________ */

.container {
	/* max-width: 1092px; */
	background-color: rgba(74, 189, 172, 0.383);
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center
}

.image-container {
	background-image: url('https://images.unsplash.com/photo-1517439270744-8d9287c2f8f8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1292&q=80');
	background-color: #F0F8FF;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: auto;
	padding: 140px 0px 300px;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	align-items: center;
}

.text-container {
	display: flex;
	justify-content: center;
	width: 75%;
	border: 4px solid rgb(74, 189, 172);
	background-color: rgba(93, 93, 93, 0.965);
	border-radius: 15px;

}

.text-container h1 {
	width: 80%;
	font-size: 2.6rem;
	font-weight: none;
	font-style: normal;
	color: rgb(255, 255, 255);
	padding: 20px;
}

.fas {
	font-size: 3em;
	margin-top: 300px;
	color: rgba(74, 189, 172, 0.554);
}

.features {
	padding: 35px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 85%;
}

.feature-a {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 25px;
}

.feature-b {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
}

.feature-a h1 {
	font-size: 2rem;
	color: rgb(54, 54, 54);
	margin-left: 25px;
}

.feature-b h1 {
	font-size: 2rem;
	color: rgb(54, 54, 54);
	margin-right: 25px;
}

 .features img {
	 width: 50%;
	 height: auto;
	 border-radius: 15px;
}

@media(max-width: 650px) {
	.container h1 {
		font-size: 2rem;
	}

	.features h1 {
		font-size: 1.6rem;
		margin-top: 15px;
		margin-left: 0;
		margin-right: 15px;
	}

	.feature-a {
		flex-direction: column;
		align-items: center;
		margin-bottom: 15px;
	}

	.feature-b {
		flex-direction: column;
	}
}

.accordionWrapper{
	padding:30px;
	background:rgba(74, 189, 172, 0.383);
	float:left;
	width:80%;
	box-sizing:border-box;
	margin:10%;   
	box-shadow: 0 1.5em 85px 0 rgba(0, 0, 0, 0.2);

}
.accordionItem{
    float:left;
    display:block;
    width:100%;
    box-sizing: border-box;
    font-family:'Open-sans',Arial,sans-serif;
}

.accordionItemHeading{
    cursor:pointer;
    margin:0px 0px 10px 0px;
    padding:10px;
    background:rgba(74, 189, 172, 0.383);
    color:#fff;
    width:100%;
    -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
        box-sizing: border-box;
}

.close .accordionItemContent{
    height:0px;
    transition:height 1s ease-out;
    -webkit-transform: scaleY(0);
	-o-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
    float:left;
    display:block;
}

.open .accordionItemContent{
        padding: 20px;
    background-color: rgb(74, 189, 172);
    border: 1px solid #ddd;
    width: 100%;
    margin: 0px 0px 10px 0px;
    display:block;
    -webkit-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
    -webkit-transform-origin: top;
	-o-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;

	-webkit-transition: -webkit-transform 0.4s ease-out;
	-o-transition: -o-transform 0.4s ease;
	-ms-transition: -ms-transform 0.4s ease;
	transition: transform 0.4s ease;
        box-sizing: border-box;
}

.open .accordionItemHeading{
    margin:0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #F7B733;
    color: #000;
}
