/* Burger menu button */
.burger {
	display: inline-block;
    border: 0;
	background: none;
	outline: 0;
	padding: 0;
	cursor: pointer;

	border-bottom: 4px solid currentColor;
	width: 28px;

	transition: border-bottom 1s ease-in-out;
	-webkit-transition: border-bottom 1s ease-in-out;  

    
}
.burger:before {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;    
    -webkit-transition: -webkit-transform 0.5s ease-in-out;        
}
.burger:after {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger-check {
  display: none;
}

.burger-check:checked ~ .burger {
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;

}
.burger-check:checked ~ .burger:before {
        transform: rotate(-405deg) translateY(1px) translateX(-3px);
        -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);      
        transition: transform 0.5s ease-in-out;
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
      }
    
      .burger-check:checked ~ .burger:after {
        transform: rotate(405deg) translateY(-4px) translateX(-5px); 
        -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);       
        transition: transform 0.5s ease-in-out;
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
      }

/* * * * Navigation * * * */

.nav-mobile {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}

.burger-check:checked ~ .nav-mobile {
  max-height: 500px;
  transition: max-height 0.4s ease-in-out;
}

/* * * * Demo * * * */
body {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  /* font-size: 30px; */
  text-align: center;
}

.header a {
  color: inherit;
}

.header small {
  font-size: 14px;
}

.header ul {
  /* margin-left: 15px; */
  padding: 0;
}

.header li {
  list-style: none;
  font-size: 25px;
  padding: 5px 0;
  
}
    .header a {
    text-decoration: none;

    }
        a:hover {
            text-decoration: underline;
            color: #F7B733;
            transition: 0.5s;
        }
        
.right-nav {
  /* max-width: 800px; */
  /* width: 50%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.header {
  background-color: #4aBDac;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  padding: 40px 0px;
  position: fixed;
  width: 100%;
}

.header h1 {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 30px;
}

.header h2 {
  font-size: 1.2rem;
}

.signin {
  margin-right: 150px;
}

.login-button {
  /* max-width: 500px; */
  /* width: 70%; */
  text-align: center;
  padding: 15px;
  background-color: #F7B733;
  border-radius: 15px;
  /* margin-top: 15px; */
  /* margin-bottom: 15px; */
}

.login-button:hover {
  color: rgb(110, 110, 110);
  transition: .3s; 
}

@media(max-width: 650px) {
  .header {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .header h1 {
    font-size: 1.2rem;
    margin-left: 0;
  }
  
  .header h2 {
    font-size: .8rem;
    font-weight: bold; 
  }

  .signin {
    margin-bottom: 15px;
  }

  .right-nav {
    flex-direction: column;
    margin-right: 0;
    margin-top: 15px;
  }

  .burger {
    margin-top: 15px;
  }

  .nav-mobile {
    margin-top: 15px;
  }
}